/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uild/
/[Bb]uilds/
/DownloadedData
/.vs/
/*.sln
/*.csproj
/*.csproj.meta
/obj
/*.userprefs
.idea/
/remote_config_data
/.vscode/
UserSettings/Layouts/default-2021.dwlt
.vsconfig
UserSettings/EditorUserSettings.asset
